#root {
  box-sizing: border-box;
  margin: 0 auto;
padding: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.myborder{border: solid rgb(255, 0, 0) 4px;}
img{width: 50%; }
.name{font-size: 20px; font-family: 'Times New Roman', Times, serif ;font-weight: 600;}
.container-image{position: relative;}
.container-image:hover{transform: scale(1.05); transition-duration: 2s;}
.discount{position: absolute; box-shadow: 1px 1px 5px rgb(209, 209, 209); border-radius: 5px;}
.container-product{box-shadow: 1px 1px 5px rgb(186, 186, 186); border-radius: 5px;}
.container-product:hover{transform: scale(1.02); transition-duration: 0s;}
.button{background-color: white; color: black; box-shadow: 1px 1px 5px rgb(209, 209, 209); margin: 5px; border: none;}
.button:hover{transform: scale(1.05); } 
.logobtn{background-color: white; border: none; width: 100%; }
.logobtn:hover{transform: scale(1.09); }
.textsize{font-size: 13px; color: white;}
.navbar{box-shadow: 0px 0px 5px rgb(209, 209, 209); position: sticky; top: 0; overflow: hidden; background-color: #ffffff; z-index: 1000; }
.modalTitle{font-size: xx-large; font-weight:900; border-bottom: solid black 1px;}
.cancelBtn{background-color: white;
  transform: scale();
  color: black;
  border: none;}
.cancelBtn:hover {
  transform: scale(1.3);
}
.heartBtn:hover i {
  color: red;
}
.heartBtn:hover i::before {
  content: "\F415";
  font-family: "Bootstrap Icons";
}